
.bkg,
.bkg1{
    min-height: 100vh;
    height:100%;
    min-width: 90vw;
    width: 100%;
}

.bkg{
    background-image: url('../../icons/detail1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
}   

.bkg1{
    background-color:rgb(125 125 125 / 12%);
    backdrop-filter: blur(1px);
}

.containerDetail,
.diseño,
.izq,
.der,
.dietsTypes,
.loading{
    display: flex;
}



.containerDetail{
    flex-direction: column;
    align-items: center;
}

.title{
    display: inline-block;
    margin:1rem 1rem 3rem 1rem;
    font-weight: 700;
    font-size: 25px;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;

}

.diseño{
    flex-direction: row;
    justify-content: center;
   
    background-color: rgba(238, 208, 157, 0.5);
    backdrop-filter: blur(3px);
    width: 90%;
    margin-top: 0px;
    margin-bottom: 3rem;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 480;
}
@media (max-width: 768px) {
    .diseño{
        flex-direction: column;

    }
    .der{
        margin-left: 0rem !important;
    }
}

.izq{
    
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3rem;
    width: 80%;
}

.der{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 3rem;
    margin-right: 1rem;
}

.img{
    border-radius: 90% 10% 81% 19% / 19% 85% 15% 81% ;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.55);
    margin-bottom: 30px;
    border: solid rgba(197, 197, 197, 0.5);
    margin-top: 30px;
    
}

.dietsTypes{
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    list-style-type: square;
}
.dietsTypes li{
    font-family:'Darker Grotesque', sans-serif ;
    font-size: 23px;
}
.loading{
    justify-content: center;
}

