.containerSectionRecipe,
.containerCard,
.ContaineRecipes,
.recipes,
.header{
    display: flex;
}

.containerSectionRecipe,
.header{
    
    flex-direction: column;
    align-items: center;
}
.ContaineRecipes{
    
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media (min-width: 768px) {
    .ContaineRecipes{
    display: grid;
    grid-template-columns: repeat(3,33.33%) ; 
    column-gap: 2rem; /* separacion entre las columnas*/
    justify-items: center; 
    row-gap: 2rem;  
   }
   .load{
    grid-column-start: 2;
    grid-column-end: 3;
   }
}

.header{
    margin-top: 6rem;
}
.recipes {
    
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    background-color: aqua;
}
.loading{
    background-image: url('../../icons/loading-unscreen.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.containerCard{
    align-self: normal;
}