.containerAllSection,
.containerCard,
.ContainerNotRecipes,
.recipes,
.header,
.containerSectionRecipe{
    display: flex;
}

.containerAllSection,
.header,
.ContainerNotRecipes{   
    flex-direction: column;
    align-items: center;
}
.containerAllSection{
    background-image: url('../../icons/allRecipes1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    min-height: 100vh;
    height:100%;
    min-width: 100vw;
    width: 100%;
   padding-bottom: 11%;
}
.header{
    margin-top: 10rem;
    width: 80%;
}

/* .bkgDark{
     background-color:rgb(125 125 125 / 12%);
    backdrop-filter: blur(1px);
    padding-bottom: 40px;
} */


.ContaineRecipes{
    display: grid;
    grid-template-columns:  repeat(3,30%)  ; 
    grid-template-rows: repeat(3,35%);
    column-gap: 3rem; /* separacion entre las columnas*/
    justify-items: center; 
    row-gap: 2rem;  
    padding-bottom: 16%;
   }
@media (min-width: 1245px) {
    .ContaineRecipes{
    display: grid;
    grid-template-columns:  repeat(4,23%)  ; 
    grid-template-rows: repeat(2,50%);
    column-gap: 2rem; /* separacion entre las columnas*/
    justify-items: center; 
    row-gap: 2rem;  
    padding-bottom: 7%;
   } 
   
}@media (min-width: 768px) and (max-width: 1000px) {
    .ContaineRecipes{
    display: grid;
    grid-template-columns:  repeat(2,44%); 
    grid-template-rows: repeat(4,25%);
    column-gap: 4rem; /* separacion entre las columnas*/
    justify-items: center; 
    row-gap: 2rem;  
    padding-bottom: 16%;
   } 
     .containerAllSection{
    padding-bottom: 25%;
   }
   
}
 @media (max-width: 768px) {
    .ContaineRecipes{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 5%;
    }
    
      .containerAllSection{
        padding-bottom: 25%;
       }
}


.recipes {
    
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    background-color: aqua;
}
.loading{
    background-image: url('../../icons/loading-unscreen.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.containerCard{
    align-self: normal;
}

/*Tittle*/

.subTitles h1, .subTitles h1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.subTitles h1 ul{
    list-style: none;
}
.item{
 position: absolute;
 animation: roll 8s ease 1s infinite backwards;

}

.item:nth-child(1){
    animation-delay: 0s;
    opacity: 0;
}
.item:nth-child(2){
    animation-delay: 2.7s;
    opacity: 0;
}
.item:nth-child(3){
    animation-delay: 5.5s;
    opacity: 0;
}


@keyframes roll
 {
    0% {
        opacity: 0;
        transform: translate3d(0,-70%,0);
    }
    2.5%, 25%{
       opacity: 1;
       transform:translateZ(0);
    }
    27.5%, 100%{
        opacity: 0;
        transform: translate3d(0,70%,0);
    }
}

