
  
  .shadow_letters {
    display: flex;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .shadow_letters div{
    display: flex;
    margin-right: 1rem;
  }
  .shadow_letters span {
    font-size: 2.5rem;
    position: relative;
    display: inline-block;
    color: rgb(1 9 10);
    animation: 2s infinite shadow alternate ;
    animation-delay: calc(0.2s * var(--shadow));
  }
  @media (max-width: 768px) {
    .shadow_letters div{
      margin-right: 0.5rem;
    }
    .shadow_letters span {
      font-size: 1.9rem;
    }
  }
  
  @keyframes shadow {
    0%,  0.5% {
     text-shadow: 0 0 0.4em  rgb(255, 174, 82), 0 0 0.4em  rgb(255 174 82), 0 0 0.4em  rgb(255 174 82); 
    }
  }