.pag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pag p{
    margin: 22px 0 0px 0;
}
.pag ul{
    margin-bottom: 0rem;
}
.pag button{
    font-family: cursive;
    font-size: 22px;
    border-radius: 4px;
    background-color: rgb(240, 88, 0);
    padding: 4px 5px;
    border-color: rgb(0, 0, 0) important! ;
    border-style:none;
    cursor: pointer;
    margin: 20px;
    color: white;
}

.notButton{
    color: darkgray;
}

.pag li:hover{
    cursor: pointer;
}
