
.size{
    width: 16rem;
    box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 13%);
    background-color:rgb(179 114 0 / 15%);
}

.size:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: all 0.5s;
}
.containerBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.diets,
.text{
 display: flex;
 flex-direction: row;
}
.btn{
    background-color: tomato;
    border-color: tan;
    margin-top: auto;
}
.btn:hover{
    border-color: tomato;
    background-color: tan;
}