/* .bg-body-tertiary{
    background-color: blue !important;
} */

.navStyle{
    background-color:rgb(224 99 0 / 81%) !important;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.positionItems{
    justify-content: flex-end;
}

.spaceItems{
    width: 15vw;
}
a{
    text-decoration: none;
}
