/* .bg-body-tertiary{
    background-color: blue !important;
} */

.navStyle{
    background-color:#e06939d9 !important;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.positionItems{
    justify-content: flex-end;
}

.spaceItems{
    width: 15vw;
}
a{
    text-decoration: none;
}
.logo{
    display: contents;
}
.logo img{
    width: 3%;
}
@media (max-width: 768px) {
    .logo img{
        width: 10%;
    }
}